# Игнорировать файлы .pyc (байт-кода Python)
*.pyc

# Игнорировать директорию __pycache__ (где обычно хранятся файлы .pyc)
__pycache__

# Игнорировать логи
logs
logs/*
*.log

# Игнорировать файлы временных данных или компиляционных файлов
*.bak
*.swp

.env